<div class="well">
    <h3>
        Create a new sequence
    </h3>

    <div class="row restore_margin">
        <div class="row restore_margin">
            Select mode:
        </div>
        <div class="row restore_margin">
            <input type="button" class="btn btn-raised"
                ng-click="new_color_mode = true"
                ng-class="{'btn-primary': new_color_mode}"
                value="Color mode"/>
            <input type="button" class="btn btn-raised"
                ng-click="new_color_mode = false"
                ng-class="{'btn-primary': !new_color_mode}"
                value="Non-color mode"/>
        </div>
    </div>
    <br />
    <div class="row" align="right" style="padding-right: 20px;bottom: 0px;">
        <input type="button" class="btn btn-raised btn-danger"
                ng-click="closeThisDialog()"
                value="Cancel"/>
        <input type="button" class="btn btn-raised btn-primary"
                ng-click="closeThisDialog(create_new_sequence(new_color_mode))"
                value="Create"/>
    </div>
</div>