<div class="col-xs-2" id="sidebar">
    <div class="row">
        <input type="button" class="btn btn-raised btn-info btn-side"
                ng-click="new_sequence()"
                value="New sequence"/>
    </div>
    <div class="row">
        <input type="button" class="btn btn-raised btn-primary btn-side"
                ng-click="store_file()"
                value="Store sequence"/>
    </div>
    <div class="row">
        <input type="button" class="btn btn-raised btn-primary btn-side"
                ng-click="load_file()"
                value="Load sequence"/>
    </div>
    <div class="row" id="sequence_info">
        <h3>Sequence data</h3>
        <div class="row">
            <div class="col-xs-8 field-title">Color saved</div>
            <div class="col-xs-4 field-content">
                {{ sequence.color ? 'Yes' : 'No' }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 field-title">Number of frames</div>
            <div class="col-xs-4 field-content">
                {{ sequence.frames.length }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 field-title">Approx file size</div>
            <div class="col-xs-4 field-content">
                {{ sequence.color
                   ? 6 + sequence.frames.length * 600
                   : 6 + sequence.frames.length * 150 }} B
            </div>
        </div>
    </div>
</div>

<div class="col-xs-8">
    <div class="row" id="display">
        <div class="row">
            <div class="ski" id="ski_left">
                <div class="row ledrow top">
                    <div class="row-select arrow" ng-click="select_row(0)"
                            ng-right-click="select_row(0, true)">
                        <i class="fa fa-long-arrow-right"
                            ng-show="!sequence.simulating"></i>
                    </div>
                    <div class="led-container" ng-repeat="led in leds[0]"
                            ng-click="led_clicked(led)"
                            ng-right-click="led_clicked(led, true)">
                        <div class="led" ng-style="{background: led.color}"></div>
                    </div>
                </div>
                <div class="row ledrow middle" ng-show="!sequence.simulating">
                    <div class="row-select">
                    </div>
                    <div class="select-arrow arrow" ng-repeat="i in [] | range: leds[0].length"
                            ng-click="multi_led_clicked([leds[0][$index], leds[1][$index]])"
                            ng-right-click="multi_led_clicked([leds[0][$index], leds[1][$index]], true)">
                        <i class="fa fa-arrows-v"></i>
                    </div>
                </div>
                <div class="row ledrow bottom">
                    <div class="row-select arrow" ng-click="select_row(1)"
                            ng-right-click="select_row(1, true)">
                        <i class="fa fa-long-arrow-right"
                            ng-show="!sequence.simulating"></i>
                    </div>
                    <div class="led-container" ng-repeat="led in leds[1]"
                            ng-click="led_clicked(led)"
                            ng-right-click="led_clicked(led, true)">
                        <div class="led" ng-style="{background: led.color}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="ski" id="ski_right">
                <div class="row ledrow top">
                    <div class="row-select arrow" ng-click="select_row(2)"
                            ng-right-click="select_row(2, true)">
                        <i class="fa fa-long-arrow-right"
                            ng-show="!sequence.simulating"></i>
                    </div>
                    <div class="led-container" ng-repeat="led in leds[2]"
                            ng-click="led_clicked(led)"
                            ng-right-click="led_clicked(led, true)">
                        <div class="led" ng-style="{background: led.color}"></div>
                    </div>
                </div>
                <div class="row ledrow middle"
                        ng-show="!sequence.simulating">
                    <div class="row-select">
                    </div>
                    <div class="select-arrow arrow" ng-repeat="i in [] | range: leds[0].length"
                            ng-click="multi_led_clicked([leds[2][$index], leds[3][$index]])"
                            ng-right-click="multi_led_clicked([leds[2][$index], leds[3][$index]], true)">
                        <i class="fa fa-arrows-v"></i>
                    </div>
                </div>
                <div class="row ledrow bottom">
                    <div class="row-select arrow" ng-click="select_row(3)"
                            ng-right-click="select_row(3, true)">
                        <i class="fa fa-long-arrow-right"
                            ng-show="!sequence.simulating"></i>
                    </div>
                    <div class="led-container" ng-repeat="led in leds[3]"
                            ng-click="led_clicked(led)"
                            ng-right-click="led_clicked(led, true)">
                        <div class="led" ng-style="{background: led.color}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row arrowrow">
            <div class="select-arrow arrow" ng-repeat="i in [] | range: leds[0].length"
                    ng-click="multi_led_clicked([leds[0][$index], leds[1][$index],
                                                leds[2][$index], leds[3][$index]])"
                    ng-right-click="multi_led_clicked([leds[0][$index], leds[1][$index],
                                                       leds[2][$index], leds[3][$index]], true)">
                <i class="fa fa-long-arrow-up" ng-show="!sequence.simulating"></i>
            </div>
        </div>
    </div>

    <div class="row" id="sequence_control" align="center">
        <div class="row">Frame {{ sequence.active_frame + 1 }} / {{ sequence.frames.length }}</div>
        <div class="row">
            <button class="btn btn-sm btn-raised"
                    ng-click="select_frame(0)"
                    ng-disabled="sequence.frames.length == 1
                                 || sequence.active_frame == 0">
                <i class="fa fa-fast-backward"></i>
            </button>
            <button class="btn btn-sm btn-raised"
                    ng-click="select_frame(sequence.active_frame - 1)"
                    ng-disabled="sequence.frames.length == 1">
                <i class="fa fa-step-backward"></i>
            </button>
            
            <button class="btn btn-sm btn-raised"
                    ng-click="toggle_simulate()"
                    ng-disabled="sequence.frames.length == 1">
                <i class="fa fa-play" ng-if="!sequence.simulating"></i>
                <i class="fa fa-stop" ng-if="sequence.simulating"></i>
            </button>

            <button class="btn btn-sm btn-raised"
                    ng-click="select_frame(sequence.active_frame + 1)"
                    ng-disabled="sequence.frames.length == 1">
                <i class="fa fa-step-forward"></i>
            </button>
            <button class="btn btn-sm btn-raised"
                    ng-disabled="sequence.frames.length == 1
                                 || sequence.active_frame == sequence.frames.length - 1"
                    ng-click="select_frame(sequence.frames.length - 1)">
                <i class="fa fa-fast-forward"></i>
            </button>
        </div>
        <div class="row">
            <button class="btn btn-sm btn-raised"
                    ng-click="create_new_frame(sequence.active_frame + 1, leds)">
                Add frame
            </button>
            <button class="btn btn-sm btn-raised"
                    ng-click="remove_frame(sequence.active_frame)"
                    ng-disabled="sequence.frames.length <= 1">
                Delete frame
            </button>
        </div>
        <br />
        <div class="row">
            <h3>Simulation control</h3>
            
            <label>Step duration</label>
            <input type="number" ng-model="sequence.steptime"> ms
        </div>
    </div>
</div>

<div class="col-xs-2">
    <div class="row" ng-show="sequence.color">
        <br />
        Select color:
        <input type="color" ng-model="ac.active_color" ng-change="color_update()">
    </div>
    <div class="row" ng-show="!sequence.color">
        <div class="row">
            Brightness:
            <div class="slider shor" id="brightness_slider" ng-init="initSlider()"></div>
            <span id="brightness"></span>%
        </div>
        <button class="btn btn-xs btn-raised btn-primary"
                 ng-click="set_percentage(0)">
            0%
        </button>
        <button class="btn btn-xs btn-raised btn-primary"
                ng-click="set_percentage(25)">
            25%
        </button>
        <button class="btn btn-xs btn-raised btn-primary"
                ng-click="set_percentage(50)">
            50%
        </button>
        <button class="btn btn-xs btn-raised btn-primary"
                ng-click="set_percentage(75)">
            75%
        </button>
        <button class="btn btn-xs btn-raised btn-primary"
                ng-click="set_percentage(100)">
            100%
        </button>
    </div>

    <hr />
    <div class="row">
        <button class="btn btn-sm btn-raised btn-primary"
                ng-click="apply_all()"
                ng-right-click="apply_all(true)">
            Apply to all
        </button>
    </div>
</div>